* {
    padding: 1;
    margin: 0;
}


body {
    background-color: black;
    color: white;
}

header {
    background-image: url(../images/header1.png);
    background-size: 100%;
    background-repeat: no-repeat;
    
}

nav {
    display: flex;
}

h1 {
    margin: 10px 40px;
    flex: 1;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 25px 40px;
}

nav li {
    padding-left: 30px
}
    

nav a {
    text-decoration: none;
    color:aliceblue;
}


header h2 {
    display: flex;
    justify-content: flex-end;
    padding: 22px 40px;
}

section {
    display: flex;
}


/* subtopics in main sections (h2) */

#about-me h2 {
    display: flex;
    margin: 20px auto 100px 10px;
    padding-left: 80px;
    padding-right: 10px;
    text-align: right;
    border-right: solid 5px white;
} 

#work h2 {
    display: flex;
    margin: 20px auto 100px 10px;
    padding-left: 80px;
    padding-right: 10px;
    text-align: right; 
    border-right: solid 5px white;  
}

#contact-me h2 {
    display: flex;
    margin: 20px auto 100px 10px;
    padding-left: 80px; 
    padding-right: 10px;
    text-align: right;
    border-right: solid 5px white;   
}


/*  content in main sections */
#about-me p {
    display: flex;
    margin-left: 0px;
    padding-left: 30px;
    
    margin-top: 20px;
}

#work ul {
    list-style: none;
    display: flex;
    margin-left: 0px;
    padding-left: 30px;
    
    margin-top: 20px;
}

#contact-me ul {
    list-style: none;
    display: flex;
    margin-left: 0px;
    padding-left: 30px;
   
    margin-top: 20px;
}


/*  
#about-me {


}

#work {

}

#contact-me {

}

 */