* {
    padding: 1;
    margin: 0;
    line-height: 1.5;
}

body {
    /* background-color: ; */
    color: white;
    background-color: black;
    background: rgb(10, 89, 121);
    background: radial-gradient(circle, rgb(10, 89, 121) 10%, rgba(0,0,0,1) 80%);
}

header {
    background-image: url(../images/header1.png);
    background-size: 100%;
    background-repeat: no-repeat;
    border-bottom: solid 10px black;  
}

nav {
    display: flex;  
    justify-content: space-around; 
    max-width:  1336px;
}

h1 {
    margin: 20px 40px;
    padding: 4px 10px;
    display: flex;
    border: solid 3px white;
    border-radius: 10px;
    background-color: rgba(209, 209, 209, 0.191);
}

nav ul {
    display: flex;
    list-style: none;
    margin: 25px 40px;
}

nav li {
    padding-left: 30px;
}
    
nav a {
    text-decoration: none;
    color:aliceblue;
    border-bottom: solid 3px white;
}

nav a:hover {
    color: rgb(0, 164, 219);
    font-size: 15px;
}

header div {
    display: flex;
    justify-content: flex-end;
    padding: 22px 40px;
    max-width: 1100px;
    border-radius: 10px;
}

header h2 {
    border: solid 3px white;
    border-radius: 10px;
    padding: 4px 10px;
    background-color: rgba(209, 209, 209, 0.191);
}

main {
    display: flex;
}

/* uses flex box and encompasses all sub-topics on the left side of the page */
.container-1 {
    /* border: solid 3px red; */
    display: flex;
    flex-direction: column;
    text-align: right;
    flex: 1;
    margin-top: 20px;
    margin-left: 0px;
    /* min-width: 200px; */
    max-width: 400px;
    justify-content: space-around; 
}

/* uses flex box and encompasses all main content on the right side of the page */
.container-2 {
    display: flex;
    flex-direction: column;
    text-align: left;
    flex: 5;
    margin-top: 35px;
    max-width: 600px;
    margin-left: 50px;
    /* border: solid 3px red; */
    justify-content: space-around; 
}

/*------------ Sub-topics on left side of the page ------------------*/

/* About */
#a {  
    padding: 15px 50px 55px 10px;
}

#a img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: solid 1px rgb(255, 87, 75);
}

/* Work */
#w {
    padding: 10px 50px 496px 10px;
}
    
    
    /* transform: translate(240px, -720px); */

/* Contact Me */
#c {
    padding: 10px 50px 20px 10px;
}

.a,
.w,
.c {
    margin: 10px 10px;
    box-shadow: 7px 0px 3px -3px rgb(255, 87, 75);
}
 
/*---------------------- content in main sections -----------------*/

/* About Me section */
#about-me p {
    max-width: 1000px;
    margin-top: 10px;
}

/* Work section */
.work {
    display: flex;
    max-width: 600px;
    flex-wrap: wrap;
    margin-top: 30px;
    padding-top: 10px;;
}

img {
    width: 100%;
    Height: 100%;
    border-radius: 10px;
}

.img-1 {
    position: relative;
    width: 554px;
    height: 240px; 
    border: solid 2px rgb(163, 255, 244);
    border-radius: 12px;
    margin: 5px;
}

.img-2 {
    position: relative;
    width: 270px;
    height: 120px; 
    border: solid 2px rgb(163, 255, 244);
    border-radius: 12px;
    margin: 5px;
}

.img-text {
    position: absolute;
    margin-top: 0px;
    padding: 10px 10px;
    background-color: rgb(255, 87, 75);
    box-shadow: 3px -2px 5px 2px grey;
    transform: translate(-2px, -75px);
    border-bottom-left-radius: 5px;
}

/* Contact Me section */
#contact-me ul {
    list-style: none;
    display: flex;
    padding: 40px 0px 35px 0px;
}

#contact-me li {
    margin-right: 44px;
}

#contact-me a {
    text-decoration: none;
    color:aliceblue;
}

h6 {
    font-weight: normal;
}

li {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p {
    font-family: Helvetica, Arial, sans-serif;
}

h1,
h2,
h4,
h6 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h6 {
    font-weight: normal;
}

